[Desktop Entry]
Name=Pairs
Name[cs]=Pexeso
Name[de]=Paare
Name[en_GB]=Pairs
Name[es]=Parejas
Name[fi]=Parit
Name[fr]=Pairs
Name[nl]=Paren
Name[pl]=Pary
Name[pt]=Pairs
Name[pt_BR]=Pairs
Name[sk]=Páry
Name[uk]=Pairs
Name[x-test]=xxPairsxx
Exec=pairs %i -caption %c
Icon=pairs
Type=Application
GenericName=A game to enhance your memory
GenericName[cs]=Hra pro zlepšení vaší paměti
GenericName[de]=Ein Spiel zum Gedächtnistraining
GenericName[en_GB]=A game to enhance your memory
GenericName[es]=Un juego para mejorar la memoria
GenericName[fi]=Muistipeli
GenericName[fr]=Un jeu pour travailler votre mémoire 
GenericName[nl]=Een spel om uw geheugen te verbeteren
GenericName[pl]=Gra poprawiająca twoją pamięć
GenericName[pt]=Um jogo para melhorar a sua memória
GenericName[pt_BR]=Um jogo para melhorar sua memória
GenericName[sk]=Hra na zlepšenie pamäte
GenericName[uk]=Гра для удосконалення пам’яті
GenericName[x-test]=xxA game to enhance your memoryxx
Terminal=false
Categories=Qt;KDE;Education;Game;KidsGame;
