[Desktop Entry]
Name=Pairs
Name[bg]=Двойки
Name[bs]=Parovi
Name[ca]=Pairs
Name[ca@valencia]=Pairs
Name[cs]=Pexeso
Name[da]=Pairs
Name[de]=Paare
Name[el]=Pairs
Name[en_GB]=Pairs
Name[eo]=Paroj
Name[es]=Parejas
Name[et]=Paarid
Name[fi]=Parit
Name[fr]=Pairs
Name[ga]=Pairs
Name[gl]=Parellas
Name[hu]=Pairs
Name[it]=Coppie
Name[kk]=Pairs
Name[km]=គូរ
Name[ko]=Pairs
Name[lt]=Poros
Name[lv]=Pairs
Name[mr]=पेयर्स
Name[nb]=Par
Name[nds]=Poren
Name[nl]=Paren
Name[pl]=Pary
Name[pt]=Pairs
Name[pt_BR]=Pairs
Name[ru]=Pairs
Name[sk]=Páry
Name[sl]=Pari
Name[sv]=Par
Name[tr]=Pairs
Name[ug]=جۈپلەر
Name[uk]=Pairs
Name[x-test]=xxPairsxx
Name[zh_CN]=Pairs
Name[zh_TW]=Pairs
Exec=pairs %i -caption %c
Icon=pairs
Type=Application
GenericName=A game to enhance your memory
GenericName[bg]=Игра за подобряване на паметта ви
GenericName[bs]=Igra za poboljšanje memorije
GenericName[ca]=Un joc per millorar la teva memòria
GenericName[ca@valencia]=Un joc per millorar la teva memòria
GenericName[cs]=Hra pro zlepšení vaší paměti
GenericName[da]=Et spil der forbedrer din hukommelse
GenericName[de]=Ein Spiel zum Gedächtnistraining
GenericName[el]=Παιχνίδι για να βελτιώσετε τη μνήμη σας
GenericName[en_GB]=A game to enhance your memory
GenericName[eo]=Ludo por plibonigi vian memoron
GenericName[es]=Un juego para mejorar la memoria
GenericName[et]=Mälu arendav mäng
GenericName[fi]=Muistipeli
GenericName[fr]=Un jeu pour travailler votre mémoire 
GenericName[ga]=Cluiche a fheabhsaíonn do chuimhne
GenericName[gl]=Un xogo para mellorar a memoria
GenericName[hu]=Memóriafejlesztő játék a -hez
GenericName[it]=Un gioco per migliorare la memoria
GenericName[kk]=Жадын жаттықтыру ойыны
GenericName[km]=ល្បែង​ ដើម្បី​បង្កើន​ការ​ចងចាំ​របស់​អ្នក
GenericName[ko]=기억력 향상 게임
GenericName[lt]=Atminties gerinimo žaidimas
GenericName[lv]=Spēle tavas atmiņas uzlabošanai
GenericName[mr]=तुमची स्मृती वाढविणारा खेळ
GenericName[nb]=Et hukommelsesspill
GenericName[nds]=En Speel för't Verbetern vun't Behollen
GenericName[nl]=Een spel om uw geheugen te verbeteren
GenericName[pl]=Gra poprawiająca twoją pamięć
GenericName[pt]=Um jogo para melhorar a sua memória
GenericName[pt_BR]=Um jogo para melhorar sua memória
GenericName[ru]=Игра для тренировки памяти
GenericName[sk]=Hra na zlepšenie pamäte
GenericName[sl]=Igra za izboljšanje spomina
GenericName[sv]=Ett spel för att förbättra minnet
GenericName[tr]=Hafıza geliştirmek için bir oyun
GenericName[uk]=Гра для удосконалення пам’яті
GenericName[x-test]=xxA game to enhance your memoryxx
GenericName[zh_CN]=增强记忆力的游戏
GenericName[zh_TW]=加強記憶的遊戲
Terminal=false
Categories=Qt;KDE;Education;Game;KidsGame;
