[Desktop Entry]
Name=Pairs
Name[ast]=Pairs
Name[bs]=Parovi
Name[ca]=Pairs
Name[cs]=Pexeso
Name[da]=Pairs
Name[de]=Paare
Name[en_GB]=Pairs
Name[es]=Parejas
Name[fi]=Parit
Name[fr]=Pairs
Name[it]=Coppie
Name[nb]=Par
Name[nl]=Paren
Name[pl]=Pary
Name[pt]=Pairs
Name[pt_BR]=Pairs
Name[sk]=Páry
Name[sl]=Pari
Name[sv]=Par
Name[uk]=Pairs
Name[x-test]=xxPairsxx
Name[zh_CN]=Pairs
Name[zh_TW]=Pairs
Exec=pairs %i -caption %c
Icon=pairs
Type=Application
GenericName=A game to enhance your memory
GenericName[ast]=Un xuegu p'ameyorar la to memoria
GenericName[bs]=Igra za poboljšanje memorije
GenericName[ca]=Un joc per millorar la teva memòria
GenericName[cs]=Hra pro zlepšení vaší paměti
GenericName[de]=Ein Spiel zum Gedächtnistraining
GenericName[en_GB]=A game to enhance your memory
GenericName[es]=Un juego para mejorar la memoria
GenericName[fi]=Muistipeli
GenericName[fr]=Un jeu pour travailler votre mémoire 
GenericName[it]=Un gioco per migliorare la memoria
GenericName[nb]=Et hukommelsesspill
GenericName[nl]=Een spel om uw geheugen te verbeteren
GenericName[pl]=Gra poprawiająca twoją pamięć
GenericName[pt]=Um jogo para melhorar a sua memória
GenericName[pt_BR]=Um jogo para melhorar sua memória
GenericName[sk]=Hra na zlepšenie pamäte
GenericName[sl]=Igra za izboljšanje spomina
GenericName[sv]=Ett spel för att förbättra minnet
GenericName[uk]=Гра для удосконалення пам’яті
GenericName[x-test]=xxA game to enhance your memoryxx
GenericName[zh_CN]=增强记忆力的游戏
GenericName[zh_TW]=加強記憶的遊戲
Terminal=false
Categories=Qt;KDE;Education;Game;KidsGame;
