[Desktop Entry]
Name=Pairs Theme Editor
Exec=ptedit %i -caption "%c"
Icon=pairs
Type=Application
GenericName=A Pairs theme editor
Terminal=false
Categories=Qt;KDE;Education;Game;KidsGame;
