[Desktop Entry]
Name=Pairs Theme Editor
Name[et]=Paaride teemaredaktor
Name[hu]=Pairs témaszerkesztő
Name[nl]=Themabewerker van Paren
Name[pt]=Editor de Temas do Pairs
Name[pt_BR]=Editor de temas do Pairs
Name[sk]=Editor tém Pairs
Name[sv]=Temaeditor för Par
Name[uk]=Редактор тем Pairs
Name[x-test]=xxPairs Theme Editorxx
Name[zh_TW]=Pairs 主題編輯器
Exec=pairseditor %i -caption "%c"
Icon=pairs
Type=Application
GenericName=A Pairs theme editor
GenericName[et]=Paaride teemaredaktor
GenericName[hu]=Egy Pairs témaszerkesztő
GenericName[nl]=Een themabewerker van Paren
GenericName[pt]=Um editor de temas do Pairs
GenericName[pt_BR]=Um editor de temas para o Pairs
GenericName[sk]=Editor tém Pairs
GenericName[sv]=En temaeditor för Par
GenericName[uk]=Програма для редагування тем Pairs
GenericName[x-test]=xxA Pairs theme editorxx
GenericName[zh_TW]=Pairs 主題編輯器
Terminal=false
Categories=Qt;KDE;Education;Game;KidsGame;
