[Desktop Entry]
Name=Pairs Theme Editor
Exec=pairseditor %i -caption %c
Icon=pairseditor
X-DocPath=pairseditor/index.html
Type=Application
GenericName=A Pairs theme editor
Terminal=false
Categories=Qt;KDE;Education;Game;KidsGame;
