[Desktop Entry]
Name=Pairs
Name[ca]=Pairs
Name[ca@valencia]=Pairs
Name[cs]=Pairs
Name[da]=Pairs
Name[de]=Pairs
Name[el]=Pairs
Name[en_GB]=Pairs
Name[eo]=Pairs
Name[es]=Pairs
Name[et]=Pairs
Name[fi]=Pairs
Name[fr]=Pairs
Name[ga]=Pairs
Name[gl]=Pairs
Name[hu]=Pairs
Name[it]=Pairs
Name[ja]=Pairs
Name[kk]=Pairs
Name[km]=Pairs
Name[ko]=Pairs
Name[lv]=Pairs
Name[nb]=Pairs
Name[nds]=Pairs
Name[nl]=Pairs
Name[nn]=Pairs
Name[pa]=Pairs
Name[pl]=Pairs
Name[pt]=Pairs
Name[pt_BR]=Pairs
Name[ro]=Pairs
Name[ru]=Pairs
Name[sr]=Pairs
Name[sr@ijekavian]=Pairs
Name[sr@ijekavianlatin]=Pairs
Name[sr@latin]=Pairs
Name[sv]=Pairs
Name[tr]=Pairs
Name[uk]=Pairs
Name[x-test]=xxPairsxx
Name[zh_CN]=Pairs
Name[zh_TW]=Pairs
Exec=pairs %i -caption "%c"
Icon=pairs
Type=Application
GenericName=A game to enhance your memory
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fi]=KDE4-sovellus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un gioco per allenare la memoria
GenericName[ja]=KDE 4 アプリケーション
GenericName[kk]=KDE4 қолданбасы
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
