[Desktop Entry]
Name=Pairs
Name[ca]=Pairs
Name[da]=Pairs
Name[de]=Paare
Name[es]=Parejas
Name[et]=Paarid
Name[ga]=Pairs
Name[gl]=Parellas
Name[hu]=Pairs
Name[it]=Coppie
Name[nl]=Paren
Name[pl]=Pary
Name[pt]=Pairs
Name[pt_BR]=Pares
Name[sk]=Páry
Name[sv]=Par
Name[uk]=Pairs
Name[x-test]=xxPairsxx
Name[zh_CN]=Pairs
Name[zh_TW]=Pairs
Exec=pairs %i -caption "%c"
Icon=pairs
Type=Application
GenericName=A game to enhance your memory
GenericName[ca]=Un joc per millorar la teva memòria
GenericName[cs]=Hra pro zlepšení Vaší paměti
GenericName[da]=Et spil der forbedrer din hukommelse
GenericName[de]=Ein Spiel zum Gedächtnistraining
GenericName[es]=Un juego para mejorar la memoria
GenericName[et]=Mälu arendav mäng
GenericName[gl]=Un xogo para mellorar a memoria
GenericName[hu]=Memóriafejlesztő játék a -hez
GenericName[it]=Un gioco per migliorare la memoria
GenericName[nl]=Een spel om uw geheugen te verbeteren
GenericName[pl]=Gra poprawiająca twoją pamięć
GenericName[pt]=Um jogo para melhorar a sua memória
GenericName[pt_BR]=Um jogo para melhorar sua memória
GenericName[sk]=Hra na zlepšenie pamäte
GenericName[sv]=Ett spel för att förbättra minnet
GenericName[uk]=Гра для удосконалення пам’яті
GenericName[x-test]=xxA game to enhance your memoryxx
GenericName[zh_CN]=增强记忆力的游戏
GenericName[zh_TW]=加強記憶的遊戲
Terminal=false
Categories=Qt;KDE;Education;Game;KidsGame;
